[Desktop Entry]
Type=Application
Name=omadesign
GenericName=Design Studio
Comment=Design, paint, photograph, and motion
Exec=omadesign %F
Icon=omadesign
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;VectorGraphics;Photography;
MimeType=application/x-omadesign;application/x-omadesign-photo;application/affinity;image/png;image/jpeg;image/webp;image/tiff;image/svg+xml;image/vnd.adobe.photoshop;image/openraster;application/pdf;application/postscript;application/illustrator;image/x-dcraw;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-cr3;image/x-canon-crw;image/x-epson-erf;image/x-fuji-raf;image/x-hasselblad-3fr;image/x-hasselblad-fff;image/x-kodak-dcr;image/x-kodak-k25;image/x-kodak-kdc;image/x-leaf-mos;image/x-mamiya-mef;image/x-minolta-mdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-rw;image/x-panasonic-rw2;image/x-pentax-pef;image/x-phaseone-iiq;image/x-samsung-srw;image/x-sigma-x3f;image/x-sinar-sti;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;
Keywords=affinity;design;vector;paint;photo;illustration;raw;camera;develop;
StartupNotify=true
